{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="d-flex justify-content-evenly align-items-center flex-wrap" style="background-image: url('uploads/images/1687869278-the-anam-twiicisp2s-unsplash-9d0a13ae08eb9238cb64429120e5dc835452541d.jpg'); -webkit-mask-image: linear-gradient(to top, #333, rgba(0,0,0,3)); height: 577px; background-size:cover; background-position:center; ">
        <h2 class='text-center' style="color:#fff">Contactez-nous</h2>
    </div>

    <div class="p-2" style="background-color: rgb(230, 230, 230);">
      <p class="text-center mt-3" style="font-size: 24px; color: #333;">
        Profitez de notre emplacement exceptionnel grâce à nos itinéraires détaillés. 
      </p>
    </div>

        <h2 class="text-center mt-5 mb-3 ">Coordonnées</h2>
    <div class="container d-flex justify-content-evenly">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1494.669422520336!2d2.415365397446616!3d48.85790381880255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66d7eebb345ad%3A0xeb6b5b5bf9fe7ee2!2sDORANCO%20Ecole%20Sup%C3%A9rieure%20des%20Technologies%20Cr%C3%A9atives%20%26%20Organisme%20de%20Formation%20Bagnolet!5e0!3m2!1sfr!2sfr!4v1688128638431!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Adresse: <br> 251 rue Saint-Honoré
75001 Paris <br>France <br>+33 (0)1 70 98 78 88</p>
    </div>

    <div class="container mt-5">
        <p>Notre prestigieuse adresse, rue Saint-Honoré, est entourée des boutiques les plus tendances de la capitale. Elle est également proche des plus célèbres sites parisiens.</p>
        <ul>
            <li>Proche de la place Vendôme </li>
            <li>À quelques minutes du jardin des Tuileries, du Louvre et de l’Opéra Garnier </li>
            <li>Au cœur du quartier parisien de la mode </li>
        </ul>
    </div>

{% endblock %}