{% extends "base.html.twig" %}

{% block title %}Restauration{% endblock %}

{% block body %}

    <div class="d-flex justify-content-evenly align-items-center flex-wrap" style="background-image: url('uploads/images/restauration/luigi-pozzoli-34Xicn82lY4-unsplash.jpg'); -webkit-mask-image: linear-gradient(to top, #333, rgba(0,0,0,3)); height: 577px; background-size:cover; background-position:bottom; ">
        <h2 class='text-center' style="color:#333">Restauration</h2>
        <h5 class="text-center" style="color:#333">Découvrez notre Restaurant</h5>
    </div>

{% endblock %}