{% extends "base.html.twig" %}

{% block title %}Spa{% endblock %}

{% block body %}

    <div class="d-flex justify-content-evenly align-items-center flex-wrap" style="background-image: url('uploads/images/1688316569-engin-akyurt-smwcqzwayj0-unsplash-749fd6bdc281bde459e160b98a93455993efcef3.jpg'); -webkit-mask-image: linear-gradient(to top, #333, rgba(0,0,0,3)); height: 577px; background-size:cover; background-position:center; ">
        <h2 class='text-center' style="color:#fff">Spa</h2>
        <h5 class="text-center" style="color:#fff">Découvrez notre Spa</h5>
    </div>

{% endblock %}